# Database connection (must match your TeslaMate postgres configuration)
DB_HOST=database
DB_PORT=5432
DB_NAME=teslamate
DB_USER=teslamate
DB_PASS=secretpassword

# Get historical prices from this date when starting the application.
# Leave empty to sync everything from 2005.
SYNC_ON_START=true
SYNC_SINCE=2026-01-01

# Weekly fetch schedule
SCHEDULE_DAY=tuesday
SCHEDULE_TIME=15:00
